:root {
  background-color: lightcyan;
}

.title {
  color: midnightblue;
  font-size: 36pt;
  text-align: center;
}

h2, h3 {
  color: midnightblue;
  text-align: center;
}

ul {
  text-align: center;
}

li {
  display: inline;
  margin-left: 2vw;
  margin-right: 2vw;
}

img {
  margin: auto;
  display: block;
}

p {
  text-align: center;
}

.home {
  background-color: #3ea3a8;
  margin: 5px;
  text-align: center;
}

.footnote {
  text-align: center;
}
