:root {
  background-color: lightcyan;
  --tealblue: #3ea3a8;
}

.title {
  color: midnightblue;
  font-size: 36pt;
  text-align: center;
}

h2, h3 {
  color: var(--tealblue);
  text-align: center;
}

p {
  width: 700px;
  margin: auto;
}

ul {
  text-align: center;
}

li {
  display: inline;
  margin-left: 2vw;
  margin-right: 2vw;
}

img, iframe {
  margin: auto;
  display: block;
}

.home {
  color: snow;
  background-color: var(--tealblue);
  padding: 5px;
  text-align: center;
}

.footnote {
  text-align: center;
}
