:root {
  background-color: lightcyan;
  --tealblue: #3ea3a8;
}

body {
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: auto;
  grid-template-areas: "head" "main" "foot"
}

header, main, footer {
  text-align: center; 
}
header {
  grid-area: head;
  border: 3px purple solid;
}
main {
  grid-area: main;
  border: 3px lightgreen solid;
}
footer {
  grid-area: foot;
  margin-top: 20px;
  margin-bottom:20px;
}

.nav {
  text-align: center;
  margin-top: 25px;
}
.nav a {
  font-size: large;
  margin-left: 2vw;
  margin-right: 2vw;
}

<!--Original CSS aside of root - media queries aren't original-->
.title {
  color: midnightblue;
  font-size: 40pt;
  text-align: center;
}

h2, h3 {
  color: var(--tealblue);
  text-align: center;
}

p {
  /*width: 700px;*/
  /*max-width: 700px;*/
  /*text-align: justify;
  margin-left: auto;
  margin-right: auto;*/
}

ul {
  text-align: center;
}

li {
  display: inline;
  margin-left: 2vw;
  margin-right: 2vw;
}

img, iframe {
  margin: auto;
  display: block;
}

section {
  border: 2px steelblue solid; 
  width: 80%;
  margin-bottom: 20px;
}
.container {
  border: 2px steelblue solid;
  max-width: 700px;
  padding: 5px;
  margin-bottom: 20px;
}

.home {
  width: 100px;
  text-align: center;
  color: snow;
  background-color: var(--tealblue);
  padding: 5px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.footnote {
  text-align: center;
}

/* Tablet */
@media screen and (max-width: 768px) {
  .nav a {
    display: list-item;
    list-style-type: none;
    margin-top: 30px;
  } 
}

/* Mobile - portrait focused - if it works for landscape too then good */
@media screen and (max-width: 480px) {
  .nav a {
    display: list-item;
    list-style-type: none;
    margin-top: 20px;
  }
}
  
