* {
  text-align: center;
}

h1 {
  font-size: 24pt;
}

nav ul{
  display: inline;
}

section {
  border: 5px blue solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 50vw;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.date {
  display: block;
  color: pink;
}

#contactinfo {
  border: none;
}
#contactinfo ul {
  padding-top: 0px;
}
